@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

/* Variáveis */
:root {
    /* Paleta de cores */
    --cor: rgb(0, 238, 12);
}

body {
    color: aliceblue;
    background-color: rgb(16, 18, 26);
}

#titulo {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 300px;
}

header a {
    /* text-align: left; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    padding-right: 2%;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.icon {
    width: 20px;
    height: 20px;
}

#linkedin {
    margin-top: 6px;
}
#instagram {
    margin-top: 12px;
    margin-left: -25px;
}

#corpo {
    background-color: rgb(40, 42, 54);
    border-radius: 5px;
    /* height: 700px; */
}