@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body {
    background-color: rgb(16, 18, 26);
}

nav {
    margin: 0px;
    font-family: 'Roboto';
    background-color: rgb(204, 71, 18);
    border-radius: 5px;
}

nav h1 {
    color: black;
    font-size: xxx-large;
    margin-left: 1%;
    width: 23.2%;
    background-color: white;
    border-radius: 5px;
    transform: skew(-10deg);
}

nav a {
    color: aliceblue;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-bottom: 1%; */
    margin-left: 2%;
    padding: 0.3em;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 5px;
}